*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background: linear-gradient(to left bottom ,#db7ae6 , #47f1da , #e1ff5b);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;


}

.container{
    width: 80%;
    text-align: center;
    color: darkgreen;
    background-color: rgba(255, 255, 255, 0.4);
    font-family: monospace;
    padding: 30px;
    border-radius: 1rem;
    box-shadow: 0px 5px  22px #6261617a;

}

.heading{
    margin-bottom: 20px;
    font-weight: 900;
    text-shadow: 5px 5px 3px #84848489 ;
    font-size: 30px;

}

.jokes{
    margin: 40px;
    font-size: large;
    font-size: 20px;
    font-weight: 500;

}

.btn{
    color: darkgreen;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.5);
    font-weight: 600;
    border: none;
    box-shadow: 0px 5px 10px #2222223b;
    transition: 0.3s;
    width: 300px;


}

.btn:hover{
    transform: translate(-1px ,-2px);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.7) ;

}
